* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #06a6d0;
  --trans-color: rgba(15, 115, 143, 0.7);
  --section-padding: 100px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;

}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .container {
    width: 580px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  text-align: center;
}

.special-heading h2 {
  font-size: 42px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 60px;
}

.special-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -30px;
  height: 2px;
  width: 140px;
  background-color: black;
}

.special-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -40px;
  background-color: #fff;
  border: 2px solid black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.special-heading p {
  width: 500px;
  max-width: 100%;
  color: #777;
  margin: 0 auto 100px;
  line-height: 2;
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  height: 1px;
  width: calc(100% - 30px);
  background-color: #636364;
  position: absolute;
  bottom: 4px;
  left: 15px;
  z-index: -1;
}

header .container img {
  width: 160px;
  height: 90px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 40px 20px;
  font-size: 16px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 3;
}

header nav .toggle-menu {
  color: #fff;
  font-size: 24px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }

  header nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
  }

  header nav ul li {
    padding: 15px !important;
    border: none !important;

  }

  header nav ul li a {
    border: none !important;
  }

  header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
}

header nav .active {
  color: var(--main-color, lightblue);
}

header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .form {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  border-left: 1px solid white;
  position: relative;
}

header .form i {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 22px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing {
  min-height: 100vh;
  background-image: url(../img/black_eagle_wallpaper.jpg);
  background-size: cover;
  background-color: #644a44;
  position: relative;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.landing .text {
  padding: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 50%;
  background-color: var(--trans-color, #0f748f);
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: center;

  }

}

.landing .text .content {
  max-width: 450px;
}

.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .text .content p {
  font-size: 14;
  line-height: 2;
}

.landing .change.fa-angle-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 20px;
  color: #fff;
}

.landing .change.fa-angle-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 20px;
  color: #fff;
}

@media (max-width: 767px) {

  .landing .change.fa-angle-right,
  .landing .change.fa-angle-left {
    display: none;
  }
}

.landing .bullets {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  display: flex;
  width: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.landing .bullets li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--main-color);
}

.landing .bullets .active {
  background-color: var(--main-color);
}

/* .services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width:768px) {
  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(450px, 1fr));
    justify-content: space-evenly;
    align-items: center;
  }
}

.services .services-content .box {
  max-width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .services-content .box .text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.services .services-content .box i {
  font-size: 40px;
  color: var(--main-color);
  margin: 15px;
}

.services .services-content .box h3 {
  color: var(--main-color);
  margin-bottom: 40px;
  font-size: 26px;
}

.services .services-content .box p {
  color: #777;
  line-height: 1.6;
} */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}

.services .box {
  display: flex;
}

.services .box i {
  margin-right: 30px;
  font-size: 40px;
}

@media (max-width: 767px) {
  .services .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }

  .services .box i {
    margin: 0 0 30px;
  }
}

.services .box .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.services .box .text p {
  line-height: 2;
  color: #777;
}

.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  display: flex;
  position: relative;
  background-image: url(../img/R.jpg);
  background-size: cover;
  align-items: center;
  overflow: hidden;
}

.design .image,
.design .text {
  flex: 1;
  position: relative;

}

.design .image {
  text-align: center;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .image img {
  position: relative;
  bottom: -150px;
  width: 100%;
}

.design .text {
  color: #fff;
  padding: 50px;
  background-color: var(--trans-color);
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;

}

.design .text li {
  padding: 15px 0;
}

.design .text li::before {
  font-family: "font Awesome 5 free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;

}

.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.portfolio .shuffle li {
  padding: 10px 15px;
}

.portfolio .shuffle .active {
  background-color: var(--main-color);
  color: #fff;
}

.img-content {
  display: flex;
  flex-wrap: wrap;
}

.img-content .box {
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}

.img-content .box:hover .caption {
  bottom: 0;
}

.img-content .box:hover img {
  transform: rotate(2deg) scale(1.2);
  -webkit-transform: rotate(2deg) scale(1.2);
  -moz-transform: rotate(2deg) scale(1.2);
  -ms-transform: rotate(2deg) scale(1.2);
  -o-transform: rotate(2deg) scale(1.2);
}

@media (min-width: 768px) {
  .img-content .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .img-content .box {
    flex-basis: 25%;
  }
}

@media (max-width: 767px) {
  .img-content .box {
    flex-basis: 100%;
  }
}

.img-content .box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.img-content .box .caption {
  position: absolute;
  left: 0;
  bottom: -100px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.img-content .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}

.img-content .box .caption p {
  color: var(--main-color);
}

.portfolio .more {
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 20px;
  margin: 20px auto;
  width: fit-content;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 40%);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding: 50px;
  background-color: var(--trans-color);
  color: #fff;
  text-align: center;
}

.video .text h2 {
  margin-bottom: 20px;
}

.video .text p {
  margin-bottom: 20px;
}

.video .text button {
  padding: 10px 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: #fff;
  border: none;
}

.about {
  padding-top: var(--section-padding);
  overflow: hidden;
  text-align: center;

}

.about img {
  position: relative;
  margin-top: -350px;
  bottom: -200px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .about img {
    bottom: -90px;
    margin-top: -180px;
  }
}

.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-color: var(--trans-color);
  background-image: url(../img/R\ \(5\).jpg);
  background-size: cover;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.stats .container {
  position: relative;
  /*  position : relative made the container z-index to be auto and to be in front of the stats div */
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: #fff;
  padding: 50px;
  background-color: var(--trans-color);

}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin: 20px auto 20px;
}

.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}

.skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .skills .container>div {
    flex-basis: 45%;
  }
}



.skills .container>div>h3 {
  margin: 0 0 30px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px;
}

.skills .container>div>p {
  color: #777;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 50px;
}

.skills .testimonials .box {
  display: flex;
  align-items: center;

  margin-bottom: 30px;
}

.skills .testimonials .box img {
  width: 20%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 30px;
}

.skills .testimonials .box .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}

.skills .testimonials .box .text p {
  color: #777;
  font-size: 14px;
  text-align: right;
}

@media (max-width:767px) {
  .skills .testimonials .box {
    flex-direction: column;
    text-align: center;
  }

  .skills .testimonials .box img {
    margin: 0 auto 20px;
  }
}

.skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.skills .testimonials .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #aaa;
}

.skills .testimonials .bullets .active {
  background-color: var(--main-color);
}

.skills .our-skills .prog-box {
  margin-bottom: 50px;
}

.skills .our-skills .prog-box h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

.skills .our-skills .prog-box .prog-bar {
  height: 30px;
  background-color: #949496;

}

.skills .our-skills .prog-box .prog-bar span {
  height: 100%;
  background-color: var(--main-color);
  display: block;
  position: relative;
}

.skills .our-skills .prog-box .prog-bar span::before {
  content: attr(data-progress);
  background-color: black;
  color: #fff;
  width: 40px;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: -35px;
  right: 1px;
  transform: translateX(50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.skills .our-skills .prog-box .prog-bar span::after {
  content: "";
  border-top: 10px solid black;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 1px;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
}